.profile{
  width: 100%;
  margin: 75px auto;
  max-width: 410px;
  text-align: center;
}
.profile_title{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin: 0 0 123px;
}
.profile__button{
  display: block;
  margin: 220px auto 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  background: none;
  border: 0;
  cursor: pointer;
}
.profile__logout{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #EE3465;
}
.profile__formContainer{
  height:50px;
  width: 100%;
  border-bottom: 1px solid #E8E8E8;
  display: flex;
  justify-content: space-between;
}
.profile__input{
  height: 100%;
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0;
  text-align: right;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}
input.profile__input::placeholder{
  color: #000000;
}
.profile__label{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  line-height: 50px;
}
.profile__input-error{
  margin-top: 6px;
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
  text-align: left;
}
.profile__button_disabled{
  cursor: not-allowed;
}