.portfolio{
  margin: 100px 0 125px;
}
.portfolio__container{
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 70px;
  box-sizing: border-box;
}
.portfolio__title{
  margin: 0 0 50px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
}
.portfolio__link{
  height: 90px;
  box-sizing: border-box;
  padding-top: 9px;
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 70px;
  letter-spacing: -0.04em;
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #E8E8E8;
  background: url(../../images/arrow.svg) no-repeat right center;
}
.portfolio__link:last-child{
  border: 0;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .portfolio__link{
    font-size: 30px;
  }
  .portfolio {
    margin: 90px 0 90px;
  }
  .portfolio__container{
    padding: 0 50px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .portfolio {
    margin: 70px 0 70px;
  }
  .portfolio__container{
    padding: 0 14px;
  }
  .portfolio__link{
    font-size: 18px;
    line-height: 45px;
    height: 67px;
  }
  .portfolio__title {
    margin: 0 0 40px;
    font-size: 14px;
    line-height: 20px;
  }
}